{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>电影推荐 | 漂泊在北京的个人博客 </title>
{% endblock title %}
{% block content %}
<!--文章列表-->
<div class="articleList container" style="margin-top: 88px">
    <div class="row">
        <div class="col-md-12">
            {% for movie in movies %}
            <!--single article-->
            <div class="article">
                <div class="articleHeader">
                    <h1 class="articleTitle"><a href="#">{{ movie.title }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp评分:{{ movie.rate }}</a></h1>
                </div>
                <div class="articleBody clearfix">
                    <!--缩略图-->
                    <div class="articleThumb">
                        <a href="{{ movie.url }}"><img src="{% static movie.images %}" alt="{{ movie.abstract }}" title="{{ movie.title }}"></a>
                    </div>
                    <!--摘要-->
                    <div class="articleFeed">
                        <p>{{ movie.abstract }}</p>
                    </div>
                    <!--tags-->
                    <div class="articleTags">
                        <ul></ul>
                    </div>
                </div>
                <div class="articleFooter clearfix">
                    <ul class="articleStatu">
                        <li><i class="fa fa-calendar"></i>{{ movie.create_time }}</li>
                        <li><i class="fa fa-eye"></i>1次浏览</li>
                        <li><a href="#"><i class="fa fa-folder-o"></i></a>
                            <a href="#" rel="category">热门电影</a>
                        </li>
                    </ul>
                    <a href="{{ movie.url }}" class="btn btn-readmore btn-info btn-md">原文链接</a>
                </div>
            </div>
            <!--single article-->
            {% endfor %}
            </div>
        </div>
</div>
{#<div class="container pageNav">#}
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            <nav>#}
{#              <ul class="pagination">#}
{#                  <li><button type="button" id="btn"><a class="next page-numbers" href="{% url 'blogs:list' 1 %}">下一页</a></button></li>#}
{#              </ul>#}
{#            </nav>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% endblock content %}



