{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="个人博客，漂泊在北京个人博客，python个人博客，前端个人博客，博客，漂泊在北京，个人博客网站,个人资源下载">
    <meta name="description" content="漂泊在北京个人博客，是一个集web前端与python技术相关的个人博客网站，主要记录博主学习和成长中遇到的web前端和python技术问题及解决方法，并提供资源和模板下载的个人博客网站。">
    <meta name="HandheldFriendly" content="True">
    <meta name="author" content="漂泊在北京，tqblogs@aliyun.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ form.media }}
    {% block title %}
    <title>博文首页 | 漂泊在北京的个人博客 </title>
    {% endblock title %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style/style.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/reload/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/reload/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
    <!--导航栏-->
    <div class="navigation">
        <nav class="navbar navbar-fixed-top navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed shy" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'blogs:index' %}">首页</a>
                    </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文章<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'blogs:article' 1 %}">Python</a></li>
                                <li><a href="{% url 'blogs:article' 2 %}">html和css</a></li>
                                <li><a href="{% url 'blogs:article' 3 %}">JavaScript</a></li>
                                <li><a href="{% url 'blogs:article' 4 %}">mysql</a></li>
                                <li><a href="{% url 'blogs:article' 5 %}">redis</a></li>
                                <li><a href="{% url 'blogs:article' 6 %}">爬虫</a></li>
                                <li><a href="{% url 'blogs:article' 7 %}">django</a></li>
                                <li><a href="{% url 'blogs:article' 8 %}">tornado</a></li>
                                <li><a href="{% url 'blogs:article' 9 %}">linux</a></li>
                                <li><a href="{% url 'blogs:article' 10 %}">golang</a></li>
                                <li><a href="{% url 'blogs:article' 11 %}">闲文杂谈</a></li>
                              </ul>
                            </li>
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">电影 <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'movies:hot_movies' %}">电影推荐</a></li>
                                <li><a href="{% url 'movies:watch_movies' %}">观影小站</a></li>
                              </ul>
                        </li>
                           <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">资讯<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'message:fresh_news' %}">新鲜事</a></li>
                            <li><a href="{% url 'message:collect' %}">博客收录</a></li>
                          </ul>
                        </li>
                           <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">资源<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'study:download' %}">资源下载</a></li>
                          </ul>
                        </li>
                          <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">留言版<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                           {# <li><a href="#">关于我</a></li> #}
                            <li><a href="{% url 'blogs:resume' %}">个人简历</a></li>
                            <li><a href="{% url 'blogs:messageboard' %}">留言版</a></li>
                          　{# <li><a href="#">寄给未来自己的一封信</a></li> #}
                          </ul>
                        </li>
                      </ul>
                      <form class="navbar-form navbar-left" role="search" action="/search/" method="get">
                          {% csrf_token %}
                        <div class="form-group">
                          <input name='q' type="text" class="form-control" placeholder="请输入关键字进行搜索">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                      </form>
                    </div>
                </div>
        </nav>
    </div>
{% block content %}
{% endblock content %}
    <!--footer-->
    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <h4 class="title">分类目录</h4>
                            <div class="box category clearfix">
                                <li class="cat-item cat-item-1"><a href="{% url 'blogs:list'  1 %}" title="{{ article.type }}">文章</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'movies:hot_movies'%}" title="{{ article.type }}">电影推荐</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'movies:watch_movies' %}" title="{{ article.type }}">观影小站</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'message:fresh_news' %}" title="{{ article.type }}">新鲜事</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'message:collect' %}" title="{{ article.type }}">博客收录</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'study:download' %}" title="{{ article.type }}">资源下载</a></li>
                                <li class="cat-item cat-item-1"><a href="{% url 'blogs:messageboard' %}" title="{{ article.type }}">留言板</a></li>
                                <li class="cat-item cat-item-1"><a href="#" title="{{ article.type }}">关于我</a></li>
                            </div>
                        </div>
                    </div>
{#                    <div class="col-md-3">#}
{#                        <div class="widget">#}
{#                            <h4 class="title">文章标签</h4>#}
{#                                <div class="box tags clearfix">#}
{#                                    <ul class="post_tags">#}
{#                                        {% for article in article_list %}#}
{#                                        <li><a href="{% url 'blogs:categorys' article.category_id%}" title="{{ article.category }}" class="linux">{{ article.category }}</a></li>#}
{#                                        {% endfor %}#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                     <div class="col-md-3">
                         <div class="widget">
                            <h4 class="title">友情链接</h4>
                                <div class="box friend-links clearfix">
                                    <li><a href="http://www.baidu.com" target="_blank" title="#">百度一下</a></li>
                                    <li><a href="http://www.bing.com" target="_blank" title="#">必应一下</a></li>
                                    <li><a href="http://www.google.com" target="_blank" title="#">谷歌一下</a></li>
                                    <li><a href="http://www.tqblogs.cn" target="_blank" title="#">刷新一下</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                        <span>Copyright@2018  <a href="#"></a>  黔ICP备17011880号-2</span>
                        <span class="hidden-xs"><a href="{% url 'blogs:index' %}">漂泊在北京个人博客</a></span>
                        <span class="hidden-xs">本站内容部分来源于网络，如有打扰之处</span><span>请联系tqblogs@aliyun.com</span>
                   </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="to-top" style="cursor: pointer; display: none;">
	<span class="topicon"><i class="fa fa-angle-up"></i></span>
	<span class="toptext">顶部</span>
</a>
    <script src="{% static 'js/lib/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="js//lib/jquery-1.11.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="{% static 'js/lib/main.js' %}"></script>
   	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.toTop.min.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script>
		$('.to-top').toTop({
			position:false,
			offset:500
		});
	</script>
</body>
</html>


