{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>博文分类 | 漂泊在北京的个人博客 </title>
{% endblock %}
{% block content %}
<!--文章列表-->
	<div class="articleList container">
		<div class="row">
			<div class="col-md-12">
				<!--single article-->
                {% for article in article_list %}
                <div class="article">
					<div class="articleHeader">
						<h1 class="articleTitle"><a href="#">{{ article.title }}</a></h1>
						<span class="cate-Div">
							<i class="fa fa-map-marker"></i>{{ article.category }}</span>
					</div>
					<div class="articleBody clearfix">
						<!--缩略图-->
						<div class="articleThumb">
							<a href="#"><img src="{% static article.images %}" alt="{{ article.title }}"></a>
						</div>
						<!--摘要-->
						<div class="articleFeed">
							<p>{{ article.description }}</p>
						</div>
					</div>
					<div class="articleFooter clearfix">
						<ul class="articleStatu">
							<li><i class="fa fa-calendar"></i>{{ article.date }}</li>
							<li><i class="fa fa-eye"></i>{{ article.count }}次浏览</li>
							<li><a href="https://www.busyboy.cn/?cat=18"><i class="fa fa-folder-o"></i>
							</a><a href="https://www.busyboy.cn/?cat=18" rel="category">{{ article.category }}</a></li>
						</ul>
						<a href="{% url 'blogs:detail' article.id %}" class="btn btn-readmore btn-info btn-md">阅读更多</a>
					</div>
				</div>
                {% endfor %}
            </div>
		</div>
	</div>
	<div class="container pageNav">
		<div class="row">
			<div class="col-md-12">
				<nav>
				  <ul class="pagination">
                       {% if blogs_list.has_previous %}
                           <li><a class="page-numbers" href="{% url 'blogs:article' blogs_list.previous_page_number %}">上一页</a></li>
                      {% endif %}
                        {% for pindex in pages %}
                            {% if pindex == blogs_list.number %}
                                <li><a class="page-numbers" href="{% url 'blogs:article' pindex %}">{{ pindex }}</a></li>
                            {% else %}
                                <li><a class="page-numbers" href="{% url 'blogs:article' pindex %}">{{ pindex }}</a></li>
                            {% endif %}
                        {%endfor %}
                        {% if blogs_list.has_next %}
                            <li><a class="next page-numbers" href="{% url 'blogs:article' blogs_list.next_page_number %}">下一页 »</a></li>
                    {%  endif %}
                  </ul>
                </nav>
			</div>
		</div>
	</div>
{% endblock content %}
