{% load staticfiles %}
<!DOCTYPE html>
<html class="translated-ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>个人简历 | 漂泊在北京的个人博客</title>
	<meta name="viewport" content="initial-scale=1.0,width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'resume/css/style.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'resume/css/prettyPhoto.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'resume/css/print.css' %}" type="text/css" media="print">
	<link type="text/css" rel="stylesheet" charset="UTF-8" href="{% static 'resume/css/translateelement.css' %}"></head>
<nner -->
    <div class="banner">
    <!--导航栏-->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'blogs:index' %}">首页</a>
                    <a class="navbar-brand" href="{% url 'blogs:resume' %}">个人简历</a>
                </div>
            </div>
        </nav>
    </div>
<body style="background-position: 0px -633px;">

<div id="sticker" style="top: 0px;"></div>
<div id="wrapper">
<h2 id="titleName" class="sectionHead">
         田先生&nbsp;&nbsp; | &nbsp;&nbsp;Python开发工程师 &nbsp;&nbsp;| &nbsp;&nbsp;三年 |&nbsp;&nbsp;tqblogs@aliyun.com </h2>
<div id="bio">
	<h2>
        主要从事爬虫和Python Web 相关工作</h2>
	<p>
        热爱计算机技术，喜欢编程，追求新技术。 工作积极认真，对业务需求有较强的分析能力，自学能力强。
        能够独立解决问题。良好的沟通能力，善于与他人协调合作、分析并解决问题。
	</p>
</div>
<div class="clear"></div>
<h2 id="tools" class="sectionHead">个人技能：</h2>
<div id="skills" class="ready">
    <p style="font-size: 15px">1.熟练使用Python及其标准库。</p>
    <p style="font-size: 15px">2.熟练使用Linux 常用命令，熟悉Linux 环境下的开发，熟悉Git管理项目。</p>
    <p style="font-size: 15px">3.熟练使用基于MVC框架的Django开发，熟悉Restful框架django Rest Framework。</p>
    <p style="font-size: 15px">4.熟悉Tornado的开发，了解Flask等微框架。</p>
    <p style="font-size: 15px">5.熟悉使用关系型数据库mysql日常CRUD操作和常用工具技巧。</p>
    <p style="font-size: 15px">6.熟悉Nosql数据库Redis的使用，熟悉Redis五大数据类型。了解Mongdb的基本使用。</p>
    <p style="font-size: 15px">7.熟练掌握网页抓取原理，熟练使用Re，Xpath等网页信息抽取技术。</p>
    <p style="font-size: 15px">8.熟练使用python爬虫框架Scrapy及其分布式组件Scrapy-Redis。</p>
    <p style="font-size: 15px">9.熟悉常见的反爬虫措施及技术。熟悉多进程，多线程等方式提高爬虫抓取效率。</p>
    <p style="font-size: 15px">10.熟悉前端知识HTML，CSS，JS，JQuery，Bootstrap，Ajax。了解template.js渲染模板的使用。</p>
    <p style="font-size: 15px">11.熟悉前后端分离思想，了解ES6，HTML5和CSS3新特性。</p>
    <p style="font-size: 15px">12.熟悉HTTP/HTTPS协议，熟悉WebSocket协议，熟悉TCP/IP协议。</p>
    <p style="font-size: 15px">13.熟练使用PyCharm,Sublime,Vim编写程序，了解使用Markdown编写产品文档。</p>
    <p style="font-size: 15px">14.熟悉nginx+uwsgi，gunicorn部署的基本配置，熟悉阿里云服务器的部署。</p>
    <p style="font-size: 15px">15.熟悉PEP8代码编写规范，具有良好的编码习惯，重视Code Review。</p>
    <p style="font-size: 15px">16.了解python数据分析常用包：Numpy，Pandas，Matplotlib。</p>
</div>
<div class="clear"></div>
<h2 id="clock" class="sectionHead">工作经历：</h2>
<ul id="jobs">
	<li>
		<div class="details">
			<h3>  北京科讯环球科技有限公司  </h3>
			<h4> </h4>
			<h5>  2015.12-2017.12  </h5>
		</div>
		<p>工作描述：
        1、根据开发计划,设计软件模块,完成软件模块源代码编写,实现开发需求规定的功能；
        2、根据开发需求,完成开发文档,提出模块设计的规划；
        3、根据开发文档,制定详细的开发计划；
        4、按要求完成其他相关工作。</p>
	</li>

</ul>
<div class="clear"></div>
<h2 id="ribbon" class="sectionHead">项目经验：</h2>

<ul id="honorsAwards">
	<li>
        <p>项目一：</p>
        <p>时间： 2017/08 -- 2017/10</p>
        <p>项目名称： e书淘书城网站开发</p>
    <p>软件环境：Ubuntu16.04</p>

    <p>开发工具：PyCharm,Sublime，Vim</p>
    <p>项目简介：
           基于现在O2O的电商平台开发一套完整的类似淘宝的书籍商城网站。让客户通 过网站便能对自由的选择地购买产品。网站是通过用户登录浏览商品、购买、确定购买、实现用  户模块功能。其中订单的生成，网站后台系统，通过系统管理员管理商品、订单、用户来实现。</p>
    <p>责任描述：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 负责注册登陆功能及短信验证激活功能的编写。
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 负责实现和前端的Restfull接口。
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 负责站内关键字全文搜索功能的实现。
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 负责Django后台管理界面的修改。
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 负责部分部署测试及Bug的调试。</p>


<p>技术描述：
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.  通过python调用和云通讯的第三方库接口实现短信验证码的发送。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.  使用hashlib对用户注册密码进行加密。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.  使用Restful框架django Rest_Framework实现和前端restfull风格的接口 。
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.  使用haystack+whoosh+Jieba分词快速实现全文搜索。
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.  使用xadmin实现对Django后台界面的二次修改。
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.  使用gunicorn + nginx 部署测试。</p></li>
    	<li>
        <p>项目二：</p>
        <p>时间： 2017/02 -- 2017/04</p>
        <p>项目名称： 马蜂窝-去哪儿相关旅游网站-数据爬取与展示</p>
<p>软件环境：Ubuntu16.04</p>

<p>开发工具：PyCharm,Sublime，Vim</p>
<p>项目简介：
            根据旅游旺季出行人流量大，需要从网上大量获取旅游目的地的相关信息，爬取马蜂窝-去哪儿等旅游网站的数据，经数据清洗后写入 MongoDB，通过 Django快速搭建展示网站，然后结合前端工具Echarts.js 进行图形化展示。</p>
<p>责任描述：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.负责分析网站结构及相关需要数据的url接口。
       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.负责确定爬取策略，爬取旅游网站信息。
       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.负责爬取数据的spider的编写。
       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.负责爬取数据的清洗。</p>


<p>技术描述：
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.通过Chrome分析页面结构及url接口的分析。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.采用scrapy分布式框架实现爬取数据。Crawlspider类爬取所有页面的url。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.采用xpath提取response中的数据，通过Re模块对脏数据经行清洗。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.将清理好的数据存入非关系型mongodb数据库中。
    </p></li>
    	<li>
        <p>项目三：</p>
        <p>时间： 2016/07 -- 2016/10</p>
        <p>项目名称： 房妈妈租房网站开发</p>
<p>软件环境：Ubuntu16.04</p>

<p>开发工具：PyCharm,Sublime，Vim</p>
<p>项目简介：
                       针对大量毕业生毕业租房需求，能迅速有效地找到合适自己的住房，为房主提供一个信息便捷的发布平台，让他们的房子能够迅速的被出租出去。</p>
<p>责任描述：</p>

           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 负责登陆注册与短信验证码激活的编写。
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 负责房源信息Models类的设计。
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 负责前后端分离接口的实现。
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 负责部署测试调试。</p>


<p>技术描述：
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.使用Tornado 异步非阻塞的 Web 框架，实现RESTful风格的接口。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.采用第三方短信验证码(云通讯)发送短信验证码。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.使用redis缓存主页面的房源信息。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.使用Jquery+Ajax异步展示信息，实现前后端分离。
             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.采用nginx+tornado部署测试。</p>
        </li>
</ul>

<div class="clear"></div><h2 id="learn" class="sectionHead">  教育经历：  </h2>

<ul id="schools">
	<li>
		<div class="details">
			<h3>  武汉纺织大学  </h3>
			<h4>  网络工程  </h4>
			<h5>  2011-2015  </h5>
		</div>
		<p>
           武汉纺织大学坐落于“九省通衢”之称的湖北武汉，地处光谷腹地，成为一所以工科为主，理、工、文（艺）、经、管、法、教育等多学科协调发展，纺织服装特色鲜明、优势突出的普通高等院校。武汉纺织大学溯源于1958年建立的武汉纺织工学院，是原中国纺织工业部九大部属高校之一，1998年教育管理体制改革，实行中央与湖北省共建，1999年更名为武汉科技学院，2010年更名为武汉纺织大学，2011年入选教育部“卓越工程师教育培养计划”重点建设高校。2012年成为“中西部高校基础能力建设工程”重点建设大学</p>
	</li>

</ul>
<div class="clear"></div>

<h2 id="eye" class="sectionHead">兴趣爱好：</h2>
<ul id="seenOn">
	<li class="bwWrapper">热爱计算机技术，喜欢编程，追求新技术。
喜欢逛V2EX,python中文社区，stackoverflow 等技术类网站。
<p>个人主页：www.tqblogs.cn,欢迎骚扰。哈哈</p>
工作之外： 篮球，LOL，象棋，</li>

</ul>
<div class="clear"></div>

<h2 id="contact" class="sectionHead">联络我</h2>

<div id="contactform" class="contact">
	<form>
		<div id="contactInfo">
    	<p>
    		<label class="smallInput" for="name">姓名<span class="required">*</span></label><br>
    		<input type="text" name="name" id="name" value="" class="input round3">
    	</p>
    	<p>
    		<label class="smallInput" for="email">电邮<span class="required">  *  </span></label><br>
    		<input type="text" name="email" id="email" value="" class="input round3">
    	</p>
		<p>
    		<label class="smallInput" for="phone">  电话  </label><br>
    		<input type="text" name="phone" id="phone" value="" class="input round3">
    	</p>
    	</div>
    	<p id="emailMessage">
    		<label class="smallInput" for="message">  消息  <span class="required">  *  </span></label><br>
    		<textarea name="message" id="message" class="input round3"></textarea>
    	</p>
    	  <input name="send" id="submit_btn" type="submit" class="round3 clearRight" value="提交">
    	<p id="required"><span class="required">*</span> <em>  =必填字段  </em></p>
    </form>
</div>
<div class="clear"></div>
</div>
<script src="{% static 'resume/js/jquery.js' %}"></script>
<script src="{% static 'resume/js/prettyPhoto.js' %}"></script>
<script src="{% static 'resume/js/backPosition.js' %}"></script>
<script src="{% static 'resume/js/custom.js' %}"></script>
 <script>
        $('#submit_btn').click(function () {
            var author = $('#name').val();
            var email = $('#email').val();
            var url = $('#phone').val();
            var comment = $('#message').val();
            var cont = {
                'author':author,
                'email':email,
                'url':url,
                'comment':comment
            };

            $.ajax({
                type:"post",
                dataType:"json",
                url:"{% url 'blogs:messageboard' %}",
                data:cont,
                success:function (data) {
                if (data.code === 200){
                    alert('有参数为空！！');
                }else if(data.code === 201){
                    alert('邮箱格式不正确！！');
                }else if (data.code === 202){
                    alert('发送成功！！');
                    location.href = data.next_url
                }
            }
        })
    });
 </script>

</body>
</html>
