{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title> 新鲜事 | 漂泊在北京的个人博客 </title>
{% endblock %}
{% block content %}
<!--文章列表-->
	<div class="articleList container" style="margin-top: 88px">
		<div class="row">
			<div class="col-md-12">
				<!--single article-->
                {% for new in news_list %}
                <div class="article">
					<div class="articleHeader">
						<h1 class="articleTitle"><a href="{{ new.url }}">{{ new.title }}</a></h1>
						<span class="cate-Div">
							<i class="fa fa-map-marker"></i>{{ new.views }}</span>
					</div>
					<div class="articleFooter clearfix">
						<ul class="articleStatu">
							<li><i class="fa fa-calendar"></i>{{ new.create_time}}</li>
							<li><a href="#"><i class="fa fa-folder-o"></i>
							</a><a href="#" rel="category">{{ new.category }}</a></li>
						</ul>
						<a href="{{ new.url }}" class="btn btn-readmore btn-info btn-md">上车</a>
					</div>
				</div>
                {% endfor %}
            </div>
		</div>
	</div>
	<div class="container pageNav">
		<div class="row">
			<div class="col-md-12">
				<nav>
				  <ul class="pagination">
                       {% if blogs_list.has_previous %}
                           <li><a class="page-numbers" href="{% url 'blogs:article' blogs_list.previous_page_number %}">上一页</a></li>
                      {% endif %}
                        {% for pindex in pages %}
                            {% if pindex == blogs_list.number %}
                                <li><a class="page-numbers" href="{% url 'blogs:article' pindex %}">{{ pindex }}</a></li>
                            {% else %}
                                <li><a class="page-numbers" href="{% url 'blogs:article' pindex %}">{{ pindex }}</a></li>
                            {% endif %}
                        {%endfor %}
                        {% if blogs_list.has_next %}
                            <li><a class="next page-numbers" href="{% url 'blogs:article' blogs_list.next_page_number %}">下一页 »</a></li>
                    {%  endif %}
                  </ul>
                </nav>
			</div>
		</div>
	</div>
{% endblock content %}
