@charset "UTF-8";

.navigation{
    width: border-box;
}

.banner{
    margin-top: 55px;
}

.banner .carousel-inner{
    height: 375px;
}

.banner .carousel-inner .item img{
    line-height: 1;
    width: 100%;
    height: 375px;
    
}

.articleBody{
    margin-top: 20px;
}

.navigation .navbar .container-fluid .navbar-header .shy{
    position: absolute;
    left: 325px;
}











