{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
<title>搜索结果 | 漂泊在北京的个人博客 </title>
{% endblock title %}
{% block content %}
{% if query %}
<div class="articleList container">
    <h3>搜索结果：</h3>
    <div class="row">
			<div class="col-md-12">
                {% for result in page.object_list %}
                    <div class="article">
		    			<div class="articleHeader">
			    			<h1 class="articleTitle"><a href="{% url 'blogs:detail' result.object.id %}">{{ result.object.title }}</a></h1>
				    		<span class="cate-Div">
					    		<i class="fa fa-map-marker"></i>{{ result.object.category }}</span>
					    </div>
				    	<div class="articleBody clearfix">
					    	<!--缩略图-->
						    <div class="articleThumb">
							    <a href="{% url 'blogs:detail' result.object.id %}"><img src="{% static result.object.images %}" alt="{{ result.object.title }}"></a>
						    </div>
						    <!--摘要-->
						    <div class="articleFeed">
							    <p>{{ result.object.description }}</p>
						    </div>
					    </div>
					    <div class="articleFooter clearfix">
						    <ul class="articleStatu">
							    <li><i class="fa fa-calendar"></i>{{ result.object.date }}</li>
							    <li><i class="fa fa-eye"></i>{{ result.object.count }}次浏览</li>
							    <li><a href="{% url 'blogs:article' result.object.type_id %}"><i class="fa fa-folder-o"></i>
							    </a><a href="{% url 'blogs:article' result.object.type_id %}" rel="category">{{ result.object.category }}</a></li>
						    </ul>
						    <a href="{% url 'blogs:detail' result.object.id %}" class="btn btn-readmore btn-info btn-md">阅读更多</a>
					    </div>
				    </div>

            {% empty %}
                <p>没有结果。。。试试重新输入一下试试</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« 上一页{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}下一页 »{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock content%}
